@{
    ViewData["Title"] = "Documents";
}

<h2>Documents</h2>
<ul>
    <li><a href="/docs/document1.pdf" download>Document 1</a></li>
    <li><a href="/docs/document2.pdf" download>Document 2</a></li>
    <li><a href="/docs/document3.pdf" download>Document 3</a></li>
    <li><a href="/docs/document4.pdf" download>Document 4</a></li>
    <li><a href="/docs/document5.pdf" download>Document 5</a></li>
</ul>