@{
    ViewData["Title"] = "My Process";
}

<h2>My Process</h2>
<p></p>
<h3>Account Information</h3>
<ul>
    <li>Customer Name: John Doe</li>
    <li>Transaction Number: 34239489</li>
    <li>Status: In progress</li>
</ul>
<p>Dear customer. Your application process is still continue. Please try again later.</p>